<div class="input-group" >
    <div class="input-group-text">Count of workers</div>
        <div class="form-control" id="count_of">
            {{ data.count_of_workers }}
        </div>
  </div>
  <div class="input-group" >
    <div class="input-group-text" >Appointment</div>
        <div class="form-control" id="appointment">
            {{ data.appointment }}
        </div>
  </div>
  <div class="input-group" >
    <div class="input-group-text" >Full name</div>
        <div class="form-control" id="full_name">
            {{ data.full_name }}
        </div>
  </div>
  <div class="input-group">
    <div class="input-group-text" >Rank</div>
        <div class="form-control" id="rank">
            {{ data.rank }}
        </div>
  </div>